.blog-item {
  padding: 10px 0;

  &__wrapper-image {
    width: 150px;
    height: 150px;

    & img {
      width: 150px;
      height: 150px;
    }
  }

  &__content {
    & a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}
