// Base colors
$white: #fff;
$black: #000;
$heavy-metal: #2b322b;
$caribbean-green: #03d889;
$atomic-tangerine: #ffa963;
$amaranth: #e44155;
$boulder: #7a7a7a;
$dusty-gray: #9b9b9b;
$dusty-gray-light: #979797;
$concrete: #f3f3f3;
$havelock-blue: #4a90e2;
$tundora: #4a4a4a;
$silver: #cdcdcd;
$mercury: #e6e6e6;
$monza: #d0021b;
