@import './components/FeatureGroup/styles';
@import './components/BlogItem/styles.scss';

.home {
  padding: 15px;
  background-color: $white;
  height: 100%;

  & .feature {
    margin-bottom: 40px;
  }

  & .pagination {
    justify-content: flex-end;
  }
}
